.heading {
  .heading-font(32px; 42px; bold);
  letter-spacing: -0.357143px;

  &--small {
    font-weight: normal;
    letter-spacing: -0.285714px;
  }

  &--hero {
    font-size: 30px;
    line-height: 34px;
  }
}

@media (min-width: @min-tablet) {
  .heading--hero {
    .heading-font(40px; 42px);
  }
}

@media (min-width: @med-tablet) {
  .heading--hero {
    .heading-font(50px; 50px);
    letter-spacing: -0.446429px;
  }
}
