.socials__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
  width: 104px;
  height: 26px;
}

.socials__item a {
  color: @main-color-light;

  &:hover,
  &:focus {
    color: @active-color;
  }

  &:active {
    color: @main-color-medium;
  }

  &--dark {
    color: @main-color-dark;
  }
}
